#!/bin/bash

# allow login vagrant always
[ "$PAM_USER" = "vagrant" ] && exit 0

# allow login group {{ admin_group }} always
id -Gn "$PAM_USER" | grep -qw {{ admin_group }} && exit 0

# deny login everyone at the {{ off_hour_days }}
day=$(date +%u)
{% for day in off_hour_days %}
if [[ $day -eq {{ day }} ]]; then
    exit 1
else
    exit 0
fi
{% endfor %}
