[master-streaming]
description = "Master PostgreSQL server"
conninfo = host={{ master_ip }} user={{ barman_user }} dbname=postgres
streaming_conninfo = host={{ master_ip }} user={{ barman_streaming_user }}
backup_method = postgres
streaming_archiver = on
slot_name = barman_slot
create_slot = auto
path_prefix = "/usr/pgsql-11/bin"
